<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Qualidade do Ar</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src ="js/index.js" defer ></script>
	<link rel="stylesheet" href="css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Suwannaphum&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="airquality">
			<h1>Air Quality</h1>
			<p>Type a city name:</p>
			<form>
				<input type="text" id="city">
				<button type="button" onclick="getAirQuality()">Get Air Quality</button>
				<button type="button" onclick="getFutureAirQuality()">Get Future Air Quality</button>
			</form>
			
			<table id="airQualityTable" style="display: none;">
				<thead>
					<tr>
						<th>City</th>
						<th>NO2</th>
						<th>SO2</th>
						<th>CO</th>
						<th>O3</th>
						<th>PM10</th>
						<th>AQI*</th>
					</tr>
				</thead >
				<tbody>
				</tbody>
			</table>

			<table id="futureAirQualityTable" style="display: none;">
				<thead>
					<tr>
						<th>Date</th>
						<th>City</th>
						<th>NO2</th>
						<th>SO2</th>
						<th>CO</th>
						<th>O3</th>
						<th>PM10</th>
						<th>AQI*</th>
					</tr>
				</thead >
				<tbody>
				</tbody>
			</table>
		</div>
	
		<div class="statistics">
			<h1>Cache Statistics</h1>
			<p>These statistics are relative to today's air quality</p>
			<button type="button" onclick="getStats()">Statistics</button>
			<p>Requests: <span id="requests"></span></p>
			<p>Cache Hits: <span id="hits"></span></p>
			<p>Cache Misses: <span id="misses"></span></p>
		</div>
	</div>
	
	
	
</body>
<footer>
	<a>*Air Quality Index. Possible values: 1, 2, 3, 4, 5. Where 1 = Good, 2 = Fair, 3 = Moderate, 4 = Poor, 5 = Very Poor.</a>
</footer>

</html>
